/* otpverification.css */

.bg-emerald-500 {
  background-color: #fff;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.h-screen {
  height: 100vh;
}

.w-80 {
  width: 20rem;
}

.flex-col {
  flex-direction: column;
}

.gap-4 {
  gap: 1rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.font-medium {
  font-weight: 500;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #fff;
}

.text-xl {
  font-size: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.w-fit {
  width: fit-content;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.py-2.5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.bg-white {
  background-color: #fff;
}

.text-emerald-500 {
  color: #10b981;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.outline-none {
  outline: none;
}

.w-full {
  width: 100%;
}

.text-base {
  font-size: 1rem;
}

.opt-container {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.opt-container input {
  margin-right: 0;
  flex: 1;
  padding-top: 1.25rem;
}

.bg-emerald-600 {
  background-color:#fff;
}

.py-5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

